/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */

body {
    min-height: 100vh;
    background-color: #f5f5f5;
    color: #3c5a14;
    display: flex;
    flex-direction: column;
    font-family: "Fredoka", sans-serif
}

/* Header */

header {
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 2rem;
    z-index: 3;
}

header a {
    text-decoration: none;
    color: inherit;
}

header h1 {
    font-size: 200%;
}

header i {
    margin-left: 2rem;
}

/* Main Content */

main {
    /* Let main take up any surplus space */
    flex: 1 0 auto;
    /* Account for fixed header and footer */
    margin-top: 103px;
    margin-bottom: 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Game Area */

#game-area {
    margin: 2rem;
    width: 80%;
    flex: 1 0;
    background-color: #669d31;
    padding: 1rem;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
    padding-bottom: 2rem;
    z-index: 3;
}

footer i {
    margin-left: 1rem;
}