/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */

body {
    min-height: 100vh;
    background-color: #f5f5f5;
    color: #3c5a14;
    display: flex;
    flex-direction: column;
    font-family: "Fredoka", sans-serif
}

/* Header */

header {
    background-color: #f5f5f5;
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 2rem;
    z-index: 3;
}

header a {
    text-decoration: none;
    color: inherit;
}

header h1 {
    font-size: 200%;
}

header i {
    margin-left: 2rem;
}

/* Main Content */

main {
    /* Let main take up any surplus space */
    flex: 1 0 auto;
    /* Account for fixed header and footer */
    margin-top: 103px;
    margin-bottom: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Game Area */
#game-area {
    margin: 2rem;
    width: 80%;
    max-height: 70vh;
    background-color: #669d31;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Game buttons */
#game-buttons-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}

.game-button {
    padding: .5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-family: "Fredoka", sans-serif;
}

#new-game-button {
    margin-right: 1rem;
}

/* Puzzle container */
#puzzle-container {
    width: 80%;
    height: 80%;
    max-width: 50vh;
    max-height: 50vh;
}

/* Puzzle grid */
#puzzle {
    border: 2px solid black;
    box-sizing: content-box; 
    display: grid;
    /* Code inspiration for responsive square from: https://hojelse.medium.com/make-a-truly-responsive-square-in-css-d917f5ef286d */
    aspect-ratio: 1 / 1;
    max-height: 100%;
    max-width: 100%;
}

.tile-style {
    border: 2px solid black;
    background-color: #71b340;
    display: flex;
    justify-content: center;
    align-items: center;
    /* need to make font size responsive (to screen size and to number of tiles) */
    font-size: 200%;
}

.empty-tile {
    border: 2px solid black;
    background-color: gray;
}

.empty-tile p {
    display: none;
}

/* Game statistics */
#game-stats-display {
    width: 80%;
    padding-top: 1rem;
}

#score-stats {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game-stats-text {
    padding-bottom: .5rem;
}

#moves {
    padding-right: 1rem;
}

#timer {
    width: 6.2rem;
    display: flex;
    justify-content: space-between;
}

#minutes-display {
    padding-right: .1rem;
}

#seconds-display {
    padding-left: .1rem;
}

/* Modals */

dialog::backdrop {
    background-color: #172308a0;
}

.modal {
    /* position in center of viewport, code from: https://www.geeksforgeeks.org/how-to-center-an-element-using-positionfixed-in-css/ */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem 3rem 2rem 3rem;
    border-radius: 5px;
}

.modal h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.modal h3 {
    margin-bottom: 1rem;
    text-align: center;
}

.modal p, .modal input, .modal select {
    margin-bottom: 1rem;
}

.modal button {
    margin-bottom: 1rem;
}

.submit-button {
    padding: .5rem;
    border-radius: 5px;
    font-family: "Fredoka", sans-serif;
}

.close-button {
    border: none;
    background: none;
    position: absolute;
    top: 1.3rem;
    right: 1.3rem;    
}

/* Leaderboard */

#leaderboard-entries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#leaderboard-entries > div {
    flex-basis: 0 0 45%;
}

.leaderboard-score-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leaderboard-score-container {
    margin-left: 1rem;
    align-self: flex-end;
}

#leaderboard-entries h3 {
    margin-top: 1.5rem;
}

.leaderboard-score-div {
    margin-bottom: 1rem;
}

.leaderboard-player {
    font-weight: bold;
}

.leaderboard-score-type {
    color: #3c5a14;
    font-weight: 500;
    align-self: flex-start;
    padding-left: 1rem;
}


/* Footer */
footer {
    background-color: #f5f5f5;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
    padding-bottom: 2rem;
    z-index: 3;
}

footer i {
    margin-left: 1rem;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:active, footer a:hover {
    color: #71b340;
}