/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */

body {
    min-height: 100vh;
    background-color: #f5f5f5;
    color: #0d1b1e;
    display: flex;
    flex-direction: column;
    font-family: "Fredoka", sans-serif
}

/* General styles */
.hidden-heading {
    visibility: hidden;
}

/* Header */

header {
    background-color: #f5f5f5;
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 1.5rem 1rem 1rem 1rem;
    z-index: 3;
}

header a {
    text-decoration: none;
    color: inherit;
}

header a:hover, header a:active {
    color: #0d1b1ea0;
}

header h1 {
    font-size: 150%;
}

header div {
    width: 100%;
}

#header-icons {
    font-size: 130%;
}

#header-icons i {
    margin-top: .5rem;
}

#rules-icon {
    margin-left: 2rem;
}

.icon-button {
    border: none;
    background: none;
    font-size: 100%;
}

.icon-button:active, .icon-button:hover {
    color: #0d1b1ea0;
}

/* Main Content */

main {
    /* Let main take up any surplus space */
    flex: 1 0 auto;
    /* Account for fixed header and footer */
    margin-top: 6.2rem;
    margin-bottom: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Game Area */
.game-area {
    margin: 0 1rem;
    width: 95%;
    background-color: #77ad7870;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Game buttons */
#game-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}

.game-button {
    color: #0d1b1e;
    border-color: #0d1b1e;
    background-color: #8fd694;
    padding: .5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-family: "Fredoka", sans-serif;
}

.game-button:active, .game-button:hover {
    color: #8fd694;
    border-color: #8fd694;
    background-color: #0d1b1ea0;
}

#new-game-button {
    margin-right: 1rem;
}

/* Puzzle container */
.puzzle-container {
    width: 90%;
    height: 90%;
    max-width: 50vh;
    max-height: 50vh;
}

.game-buttons-stats-container {
    width: 90%;
    max-width: 50vh;
}

/* Puzzle grid */
.puzzle-style {
    border: 1px solid #0d1b1e;
    border-radius: 5px;
    background-color: #6f8f72a0;
    box-sizing: content-box; 
    display: grid;
    /* Code inspiration for responsive square from: https://hojelse.medium.com/make-a-truly-responsive-square-in-css-d917f5ef286d */
    aspect-ratio: 1 / 1;
    max-height: 100%;
    max-width: 100%;
}

.tile-style {
    border: 1px solid #0d1b1e;
    border-radius: 5px;
    background-color: #7dba84;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-tile p {
    display: none;
}

/* Game statistics */
#game-stats-display {
    padding-top: 1rem;
}

#score-stats {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game-stats-text {
    padding-bottom: .5rem;
}

#moves {
    padding-right: 1rem;
}

#timer {
    width: 8rem;
    display: flex;
    justify-content: space-between;
}

#timer-display {
    min-width: 3.1rem;
    display: flex;
    justify-content: space-between;
}

#minutes-display {
    padding-right: .1rem;
}

#seconds-display {
    padding-left: .1rem;
}

/* Modals */

dialog::backdrop {
    background-color: #0d1b1eb0;
}

.modal {
    /* position in center of viewport, code from: https://www.geeksforgeeks.org/how-to-center-an-element-using-positionfixed-in-css/ */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 98%;
    padding: 3rem 2rem 1rem 2rem;
    border-radius: 5px;
    color: #0d1b1e;
    background-color: #f5f5f5;
}

/* class for modals with more content */
.large-modal {
    /* set larger min width for mobile devices */
    min-width: 80%;
}

.modal h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.modal h3 {
    margin-bottom: 1rem;
    text-align: center;
}

.modal p {
    margin-bottom: 1rem;
}

.modal input, .modal select {
    width: 100%;
    margin: .5rem 0;
    padding: .3rem;
    border: .5px solid #0d1b1e;
    border-radius: 5px;
    font-family: sans-serif;
    background: transparent;
    display: inline-block;
}

.modal input:focus, .modal select:focus {
    background-color: #77ad7850;
}

.modal button {
    margin-bottom: 1rem;
}

.submit-button {
    margin-top: .5rem;
}

.submit-button:active, .submit-button:hover {
    color: #8fd694;
    border-color: #8fd694;
    background-color: #0d1b1ea0;
}

.close-button {
    border: none;
    background: none;
    position: absolute;
    top: 1.3rem;
    right: 1.3rem;    
}

.player-name-style {
    text-transform: uppercase;
    /* needed for long player names */
    word-break: break-all;
}

/* Leaderboard */

#leaderboard-entries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.leaderboard-entries-per-size {
    flex: 1 1 auto;
    background-color: #77ad7880;
    margin: 1rem 0.5rem;
    padding: 1rem;
}

.leaderboard-score-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leaderboard-score-container {
    margin-left: 1rem;
    align-self: flex-end;
}

.leaderboard-score-div {
    margin-bottom: 1rem;
}

.leaderboard-player {
    font-weight: bold;
}

.leaderboard-score-type {
    font-weight: 500;
    align-self: flex-start;
}

/* Rules modal */

#rules-modal li {
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

.rules-button-style {
    border: 1px solid #0d1b1e;
    border-radius: 5px;
    background-color: #8fd694;
    font-size: 80%;
    padding: .5rem;
    display: inline-block;
}

#rules-tile-style {
    padding: .5rem .8rem;
    background-color: #7dba84;
}

/* Landscape warning modal */

#landscape-modal {
    text-align: center;
}

#landscape-modal i {
    font-size: 150%;
    margin-bottom: 2rem;
}

/* Error page */

#error-message-container {
    max-width: 70vh;
    max-height: 70vh;
}

#error-message a {
    text-decoration: none;
    color: inherit;
}

#error-message a:hover, #error-message a:active {
    color: #0d1b1ea0;
}

#error-message i {
    font-size: 100%;
}

/* Footer */
footer {
    background-color: #f5f5f5;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: .5rem 1rem 1.5rem 1rem;
    z-index: 3;
}

footer i {
    margin-left: 1rem;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:active, footer a:hover {
    color: #0d1b1ea0;
}

/* Media queries */
/* Media query: for low screen height (680px and up) */
@media screen and (max-height: 680px) {
    .puzzle-container {
        max-width: 50vh;
        max-height: 50vh;
    }
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    header h1 {
        font-size: 180%;
    }

    header div {
        position: absolute;
        background-color: #f5f5f5;
        padding-bottom: 1rem;
    }
    
    #header-icons {
        font-size: 150%;
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        margin-right: .2rem;
        margin-top: 0;
    }

    #header-icons i {
        margin-top: 0;
    }
        
    #leaderboard-icon {
        margin-left: 2rem;
    } 
    
    /* Main content */

    /* Game area */
    .game-area {
        width: 80%;
    }

    /* Modals */
    .large-modal {
        min-width: 70%;
    }

    /* don't need min width anymore starting from this screen size */
    #landing-modal {
        min-width: 0;
    }

}

/* Media query: laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    /* Header */

    header h1 {
        font-size: 200%;
    }

    #header-icons {
        font-size: 180%;
    }

    /* Main content */

    /* Game area */
    .game-area {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        padding: 2rem 0;
    }

    .puzzle-container {
        max-width: 65vh;
        max-height: 65vh;
    }

    .game-buttons-stats-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25%;
        margin: 0 2rem;
    }

    #new-game-button {
        align-self: flex-end;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    #reshuffle-button {
        align-self: flex-end;
    }

    #score-stats {
        align-self: flex-start;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    #score-puzzle-size {
        align-self: flex-start;
    }

    #game-buttons-container {
        margin-top: 0;
    }

    #game-stats-display {
        padding-top: 0;
    }

    /* Modals */
    /* don't need min width anymore as screen large enough, except for leaderboard */
    .large-modal {
        min-width: 0;
    }

    #leaderboard-modal {
        min-width: 70%;
    }
}

/* Media query: large laptops, desktops and larger (1200px and up) */
@media screen and (min-width: 1200px) {
    /* Main content */
    /* Game area */
    .game-area {
        width: 80%;
    }

    /* Modals */
    #leaderboard-modal {
        min-width: 60%;
    }
}

/* Media query: very large desktops(1500px and up) */
@media screen and (min-width: 1500px) {
    /* Main content */
    /* Game area */
    .game-area {
        width: 70%;
    }

    /* Modals */
    #leaderboard-modal {
        min-width: 0;
    }
}